training/wandb/run-20240606_104056-c2vy8kn4/run-c2vy8kn4.wandb filter=lfs diff=lfs merge=lfs -text
training/runs/* filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240621_231705-hngynv2i/run-hngynv2i.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_111843-78b07wlo/run-78b07wlo.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_141536-4uuiyfat/run-4uuiyfat.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_180250-962bgfy5/run-962bgfy5.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_220555-idsp78b8/run-idsp78b8.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_080524-kfcit3rc/run-kfcit3rc.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_091600-jtfgm7fi/run-jtfgm7fi.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_110946-9fb1canq/run-9fb1canq.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_131116-027z1wvj/run-027z1wvj.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_152449-a2msp3ue/run-a2msp3ue.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_173958-21ychv34/run-21ychv34.wandb filter=lfs diff=lfs merge=lfs -text
