# Ignore system and user-specific files and directories
.bash_history
.bash_history-01332.tmp
.cache/
.fiftyone/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.npm/
.ssh/
.wget-hsts
.lesshst
.config/
.netrc
.bashrc

# Ignore specific files
git-lfs_3.5.1_amd64.deb
install_git_lfs.sh

# Ignore datasets directory
datasets/HaGRID/
datasets/MIAP/
datasets/SIGGI/
datasets/quali_tests/
datasets/HaGRID_test/like/
