training/wandb/run-20240606_104056-c2vy8kn4/run-c2vy8kn4.wandb filter=lfs diff=lfs merge=lfs -text
training/runs/* filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240621_231705-hngynv2i/run-hngynv2i.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_111843-78b07wlo/run-78b07wlo.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_141536-4uuiyfat/run-4uuiyfat.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_180250-962bgfy5/run-962bgfy5.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240626_220555-idsp78b8/run-idsp78b8.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_080524-kfcit3rc/run-kfcit3rc.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_091600-jtfgm7fi/run-jtfgm7fi.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_110946-9fb1canq/run-9fb1canq.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_131116-027z1wvj/run-027z1wvj.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_152449-a2msp3ue/run-a2msp3ue.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_173958-21ychv34/run-21ychv34.wandb filter=lfs diff=lfs merge=lfs -text
datasets/SIGGI/* filter=lfs diff=lfs merge=lfs -text
datasets/quali_tests/person_detection/* filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240627_215635-577mbmrh/run-577mbmrh.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240628_083753-hnemaraa/run-hnemaraa.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240628_121227-bdveos5m/run-bdveos5m.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240628_142836-20t95cud/run-20t95cud.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240701_103054-gfqx67yz/run-gfqx67yz.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240701_111517-0fm16z3c/run-0fm16z3c.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240701_132354-l7exuyqw/run-l7exuyqw.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240701_171748-jph376h7/run-jph376h7.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240702_095535-int8s3cl/run-int8s3cl.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240702_163532-zn6np9lr/run-zn6np9lr.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240703_072940-dn7aiai1/run-dn7aiai1.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240703_123704-60dwq6wt/run-60dwq6wt.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240703_182420-cguf1b86/run-cguf1b86.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240704_063026-owm3h49e/run-owm3h49e.wandb filter=lfs diff=lfs merge=lfs -text
training/traced_model.pt filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240704_130154-orkge817/run-orkge817.wandb filter=lfs diff=lfs merge=lfs -text
training/wandb/run-20240704_164148-mmwi3550/run-mmwi3550.wandb filter=lfs diff=lfs merge=lfs -text
evaluation/traced_model.pt filter=lfs diff=lfs merge=lfs -text
evaluation/runs/detect/ filter=lfs diff=lfs merge=lfs -text
datasets/SIGGI_small/* filter=lfs diff=lfs merge=lfs -text
program.tar.gz filter=lfs diff=lfs merge=lfs -text
